body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
textarea,
button {
  padding: 10px;
  font-size: 1.1rem;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#todosContainer {
  margin-top: 20px;
}

.todo {
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 4px;
}

.todo h3 {
  margin: 0 0 5px;
}

.todo p {
  margin: 0;
}

.todo .actions {
  margin-top: 10px;
}

.todo button {
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 1.1rem;
}
.date-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.date-filter label {
  font-size: 1.1rem;
  font-weight: bold;
}

.date-filter input {
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.date-filter button {
  background-color: #007bff; /* Blue background */
  color: white; /* White text */
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: red;
}
@media (max-width: 600px) {
  .date-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .date-filter label {
    font-size: 1.3rem;
    font-weight: bold;
  }

  .date-filter input {
    width: 50%;
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .date-filter button {
    background-color: #007bff; /* Blue background */
    color: white; /* White text */
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 35%;
    transition: background-color 0.3s ease;
  }
}
